/* Font CSS */

*{
    font-family: 'Darker Grotesque', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'social';
    src: url('font/social.eot'),
         url('font/social.woff'),
         url('font/social.woff'),
         url('font/social.ttf'),
         url('font/social.svg');
}

/* HomeContainer DIV CSS */

.homeContainer{
    background-image: url(img/finalBakgroundImageBlack.jpg);
    height: 300px;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    overflow: hidden;
}

@media screen and (min-width:1028px){
    .homeContainer{
        height: 786px;
    }
}

/* menuContainer CSS */

.menuContainer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 20px;
}

@media screen and (min-width:1028px){
    .menuContainer {
        height: 120px;
    }    
}

/* logoContainer CSS */

.logoContainer{
    display: inline-block;
}

@media screen and (min-width:1028px){
    .logoContainer{margin-left: 2em;}
}

.logo{
    background-image: url(img/logo-bianco.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 39px;
    display: inline-block;
}

@media screen and (min-width:1028px){
    .logo {
        width: 100px;
        height: 80px;
    }
}

.logo:hover{
    opacity: 0.8;
    transition: all 0.7s;
}

/* listContainer CSS */

.listContainer{
    display: none;
    position: absolute;
    width: 100%;
    top: 25%;
    right: -100%;
    text-align: right;
    background-color: white;
    animation: goToRight 0.5s;
    z-index: 4;
}

@media screen and (min-width: 1028px) {
    .listContainer{
        display: none;
    }
  }

.listContainerDesktop{
    display: none;
}

@media screen and (min-width: 1028px) {
    .listContainerDesktop{
        display: block;
    }

    .listContainerDesktop li{
        display: inline;
        font-size: 40px;
        margin-left: 70px;
    }

    .listContainerDesktop li a{
        color: white;
        transition: border-bottom 0.7s, opacity 0.7s;
        font-size: .8em;
    }

    .listContainerDesktop li a:hover{
        border-bottom: solid white 1px;
        opacity: 0.5;
    }
  }


.showListContainer{
    animation: goToLeft 0.5s ; 
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

.listContainer > ul{
    padding: 15px 20px;
}

.listContainer li{
    padding-left: 61px;
    padding-bottom: 25px;
}

.listContainer a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-right: 50px;
}

.welcomeMobileName{
    display: none;
}


.welcomePhrase a{
    padding-right: 65px;
}

.listContainer a:hover{
    border-bottom: white 1px solid;
    transition: all 0.7s;
}

.listContainer ul > li > a::after{
    content: "";
    background-size: contain;
    width: 28px;
    height: 50px;
    position: absolute;
    top: 5%;
    right: -1%;
}

.linkHome::after{
    background: url(img/home.png) no-repeat;
}

.linkRist::after{
    background: url(img/restaurant.png) no-repeat;
}

.linkLog::after{
    background: url(img/login.png) no-repeat;
}

.linkLogName{
    right: -19%;
}

.linkLogName::after{
    content: "";
    background: url(img/login.png) no-repeat;
    background-size: contain;
    width: 28px;
    height: 50px;
    position: absolute;
    top: 5%;
    right: -19%;
}

.logOutLink{
    display: none;
}

.logOutLink::after{
    content: "";
    background-size: contain;
    width: 28px;
    height: 50px;
    position: absolute;
    top: 70%;
    right: 4%;
    background: url(img/logout.svg) no-repeat;
}

.logOutLinkDesktop{
    display:none;
    position: absolute;
    top: 7%;
    right: 1%;
    font-size: .5em;
}

.blankSpaceMenu{
    background-color: rgba(0, 0, 0, 0.226);
    position: fixed;
    top: 29%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}

.blankSpaceMenuShow{
    display: block;
}



/* FORM CSS */

.formContainer{
    position: absolute;
    top: 47%;
    left: 50%;
    background-color: white;
    padding: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 30%);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

@media screen and (min-width: 1028px) {
    .formContainer{
        top: 71%;
        left: 34%;
        width: 56%;
        padding: 2em;
    }
  }


.formContainer input{
    padding: 10px;
    font-size: 20px;
    width: 25%;
    border: 1px solid #9c9a9a;
    border-radius: 5px;
    margin-top: 12px;
}

.number{
    margin-left: 5%;
}

@media screen and (min-width: 1028px) {
    .formContainer input{
        font-size: 30px;   
    }
  }

.formContainer .address{
    width: 70%;
}

/* Button CSS */

.search{
    padding: 10px;
    font-size: 25px;
    width: 100%;
    border: none;
    color: white;
    background-color: rgb(255, 153, 28);
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (min-width: 1028px) {
    .search{
        font-size: 50px;    
    }
  }

.search:hover{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    transition: all 0.7s;
}

/* Form Accedi CSS */

.accediContainer{
    display: none;
}

.accediContainerShow{
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 600px;
    padding: 15px;
    display: block;
}

@media screen and (min-width: 1028px){
    .accediContainer{
        top: 21%;
        width: 60%;
        max-height: 300px;
        display: none;
    }

    .accediContainerShow{
        top: 30%;
        width: 60%;
        max-height: 300px;
        display: block;
    }
}

.accedi{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.accedi h2{
    text-align: center;
    font-size: 40px;
    margin: 10px 0 20px 0;
}

@media screen and (min-width: 1028px) {
    .accedi h2{
        font-size: 55px;
    }
  }

.accedi ul{
    text-align: center;
}

.accedi ul li:nth-child(2) a{
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width:1028px){
    .accedi ul li:nth-child(2) a{
        font-size: 30px;
    }
}

.accedi ul li:nth-child(2){
    margin-bottom: 15px;
}

.accedi ul li h3{
    font-size: 18px;
    padding: 20px 0;
}

@media screen and (min-width: 1028px) {
    .accedi ul li h3{
        font-size: 30px;
    }
  }

.accedi a{
    color: rgb(0, 85, 241);
}

.accedi input{
    font-size: 30px;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #ccc;
}

@media screen and (min-width: 1028px) {
    .accedi input {
        height: 79px;
    }
  }

.accedi button{
    background-color: rgb(255, 153, 28);
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
    opacity: 0.7;
}

@media screen and (min-width: 1028px){
    .accedi button{
        font-size: 45px;
        padding: 15px;
    }
}


.blankSpace{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 3;
    display: none;
}

.blankSpaceShow{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 3;
    display: block;
}

/* Registrazione CSS */

.registrazioneContainer{
    display: none;
}

.registrazioneContainerShow{
    z-index: 4;
    position: fixed;
    top: 49%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

@media screen and (min-width: 1028px){
    .registrazioneContainerShow {
        width: 50%;
        padding: 20px 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.registrazioneContainer h2{
    text-align: center;
    font-size: 30px;
    margin: 0px 0 25px 0;
}

@media screen and (min-width: 1028px){
    .registrazioneContainer h2 {
        font-size: 65px;
        margin: 0px 0 20px 0;
    }
}

.registrazioneContainer .registrazione{
    text-align: center;
}

.registrazioneContainer ul li input{
    font-size: 25px;
    height: 55px;
    padding: 10px;
    margin: 15px 0;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

@media screen and (min-width: 1028px){
    .registrazioneContainer ul li input {
        font-size: 30px;
        height: 80px;
    }
}

.registrazioneContainer ul li:nth-child(6){
    display: flex;
    flex-wrap: nowrap;
}

.registrazioneContainer ul li:nth-child(6) input{
    width: 20%;
    height: 67px;
}

@media screen and (min-width: 1028px){
    .registrazioneContainer ul li:nth-child(6) input {
        width: 10%;
        height: 90px;
    }
}

.registrazioneContainer ul li:nth-child(6) label{
    font-size: 15px;
    padding-top: 25px;
    font-weight: 600;
    padding-left: 10px;
    text-align: left;
}

@media screen and (min-width: 1028px){
    .registrazioneContainer ul li:nth-child(6) label {
        font-size: 25px;
        padding-top: 33px;
    }
}

.registrazioneContainer button{
    background-color: rgb(255, 153, 28);
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    border: none;
    opacity: 0.5;
}

@media screen and (min-width: 1028px){
    .registrazioneContainer button{
        font-size: 40px;
        margin: 20px 0 20px 0;
    }
}

.registrazioneContainer li h3{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
}

@media screen and (min-width:1028px){
    .registrazioneContainer li h3{
        font-size: 30px;
        padding-top: 10px;
    }
}

.registrazioneContainer li a{
    color:rgb(0, 85, 241) ;
}

.userNameError{
    display: none;
}

.userNameErrorShow{
    color: red;
    font-size: 15px;
    display: block;
}

.mailError{
    display: none;
}

.mailErrorShow{
    color: red;
    font-size: 15px;
    display: block;
}

.passError{
    display: none;
}

.passErrorShow{
    color: red;
    font-size: 15px;
    display: block;
}

.registrationError{
    display: none;
}

.registrationErrorShow{
    color: red;
    font-size: 15px;
    display: block;
}

.ok{
    border-color:#4ecc00;
    background-color: #edffeba1;
}

.error{
    border-color:red;
    background-color: #ff9999b7;
}
/* HamburgerIcon CSS */

.burgerMenuContainer{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1028px) {
    .burgerMenuContainer{
        display: none;
    }
  }

.one, .two, .three{
    height: 3px;
    width: 40px;
    background-color: white;
    margin: 4px 0;
}

.one{
    animation: one 0.5s ;
}

.two{
    animation: two 0.5s;
}

.oneX{
    animation: xOne 0.5s;
    position: absolute;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

.twoX{
    animation: xTwo 0.5s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

.threeX{
    display: none;
}


.headerText{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: white;
    animation: textUp 0.5s;
}

.headerTextDown{
    animation: textDown 0.5s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

@media screen and (min-width: 1028px) {
    .headerText{
        font-size: 80px;
        margin-top: 150px;
    }
  }




/* Carousel CSS */

.carouselContainer{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
}

.carouselContainer img{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: left 1s;
    z-index: 1;
}

.carouselContainer .visible{
    left:0;
    z-index: 2
}

.carouselContainer .fadeOut{
    left:-100%;
    z-index: 2
}

.carouselSectionContainer{
    margin-top: 220px;
}

@media screen and (min-width:1028px){
    .carouselSectionContainer{
        margin-top: 100px;
    }
}

.carouselSectionContainer .white{
    width: 100%;
    height: 500px;
    z-index: 1;
    background-color: white
}

@media screen and (min-width: 1028px) {
    .carouselContainer{
        display: none;
    }
  }

  .carouselContainerDesktop{
      display: none;
  }

  @media screen and (min-width: 1028px) {
    .carouselContainerDesktop{
        display: block;
        height: 300px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .carouselContainerDesktop div{
        position: absolute;
        width: 100%;
        top: 0%;
        left: 100%;
        transition: left 1s;
    }

    .carouselContainerDesktop .visibleDesktop{
        left:0;
        z-index: 2;
        background-color: white;
    }

    .carouselContainerDesktop .fadeOutDesktop{
        left:-100%;
        z-index: 2;
        background-color: white;
    }

    .sliderDesktopImage{
        display: flex;
        justify-content: space-evenly;
    }

    .carouselContainerDesktop img{
        width: 30%;
        height: 300px;
    }
  }

.carouselSectionContainer h2{
    font-size: 35px;
    padding-left: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width:1028px){
    .carouselSectionContainer h2{
        font-size: 60px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
}

/* AppContainer CSS */

.appContainer{
    width: 100%;
    margin: 65px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:1028px){
    .appContainer{
        width: 70%;
        margin: 100px 15%;
    }
}

.appContainer h2{
    font-size: 35px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.mobileApp{
    width: 100%;
    text-align: center;
}

.mobileApp img{
    width: 90%;
}

@media screen and (min-width: 1028px) {
    .mobileApp{
        width: 45%;
    }
  }

.appStore{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (min-width: 1028px) {
    .appStore{
        width: 50%;
        margin-top: 300px;
    }
  }

.appStore img{
    width:45%;
}

@media screen and (min-width: 1028px) {
    .appStore img{
        width: 50%;
        height: 60%;
        cursor: pointer;   
    }
  }

.appStore img:last-child{
    margin-left: 15px;
}




/* Footer CSS */

.footerContainer{
    width: 100%;
    background: #4da3a4;
    padding: 20px 20px;
    clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
}


.footerContainer .menuFooter li{
    margin-top: 15px;
}

.footerContainer .menuFooter a{
    color: white;
    font-size: 20px;
}

@media screen and (min-width: 1028px) {

    .footerContainer .menuFooter a{
        font-size: 40px;
    }
}

.footerContainer h2{
    font-size: 30px;
    margin: 30px 30px 30px 0;
    color: white;
}

@media screen and (min-width: 1028px) {

    .footerContainer h2{
        font-size: 50px;
    }
}

.social{
    display: flex;
}

.social li:first-child{
    margin-left: 0;
}

.social li{
    font-family: social;
    margin-left: .85em;
    margin-bottom: 0.5em;
    background-color: white;
    width: 2em;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    font-size: 30px;
    margin-top: .5em;
    cursor: pointer;
    transition: color 0.6s, opacity 0.6s;
}



.social li:hover{
    color:rgb(255, 153, 28);
    opacity: 0.8;
}

/* Map */

#map{
    height: 300px;
    width: 100%;
}

@media screen and (min-width:1028px){
    #map{
        height:500px;
    }
}

#loadMap{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
}




#loadMap section{
    width: 90%;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    background: #fff;
}

@media screen and (min-width:1028px){
    #loadMap section{
        max-width: 600px;
    }
}

#loadMap section #mappa{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

/* Map */

/* loaderGif CSS */

.loaderContainer{
    background-color: rgba(255, 255, 255, 0.514);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.loader{
    font-size: 2em;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#conferma{
    background-color: rgb(255, 153, 28);
    border: none;
    font-size: 25px;
    color: white;
    padding: 15px;
}

/* loaderGif CSS */

/* paymentCSS */

.paymentsContainer{
    overflow: hidden;
    background-color: #5cc3c5;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.paymentsContainer div{
    width: 33%;
}

.paymentsContainer img{
    width: 100%;
}

@media screen and (min-width: 1028px){
    .paymentsContainer img{
        margin: 0 25%;
        width: 50%;
    }
}



/* stop scrolling class */

.stopScrolling {
    height: 100%;
    overflow: hidden;
  }

/* stop scrolling class */

/* delete and show */

@keyframes goToLeft {
    0% {
        right: -100%;
    }

    100% {
        right: 0%;
    }
  }



  @keyframes goToRight {
    0% {
        right: 0%;
    }

    100% {
        right: -100%;
    }
  }


  @keyframes xOne {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(135deg)
    }
  }

  

  @keyframes xTwo {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(45deg)
    }
  }

  @keyframes one {
    0% {
        transform: rotate(135deg)
    }

    100% {
        transform: rotate(0deg)
    }
  }

  @keyframes two {
    0% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(0deg)
    }
  }

  @keyframes textUp {
    0% {
        margin-top: 290px;
    }

    100% {
        margin-top: 50px;
    }
  }

  @keyframes textDown {
    0% {
        margin-top: 50px;
    }

    100% {
        margin-top: 290px;
    }
  }