/* Font CSS */

*{
    font-family: 'Darker Grotesque', sans-serif;
}

/* HomeContainer DIV CSS */

.homeContainer{
    background-image: url(img/finalBakgroundImageBlack.jpg);
    height: 809px;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

/* menuContainer CSS */

.menuContainer{
    /* background-color: rgba(0, 0, 0, 0.815); */
    height: 150px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 45px;
}

/* logoContainer CSS */

.logoContainer{
    display: inline-block;
}

.logo{
    background-image: url(img/logo-bianco.png);
    background-size: cover;
    width: 105px;
    height: 78px;
    display: inline-block;
}

.logo:hover{
    opacity: 0.8;
    transition: all 0.7s;
}

/* listContainer CSS */

.listContainer{
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 16%;
    left: 0%;
    text-align: right;
    background-color: white;

}

.listContainer > ul{
    padding: 30px 20px;
}

.listContainer li{
    padding-left: 175px;
    padding-bottom: 25px;
}

.listContainer a{
    color: black;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    padding-right: 30px;
}

.listContainer a:hover{
    border-bottom: white 1px solid;
    transition: all 0.7s;
}

.listContainer ul > li > a::after{
    content: "";
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    right: 0%;
}

.linkHome::after{
    background: url(img/instagramLogo.png) no-repeat;
}

.linkRist::after{
    background: url(img/twitterLogo.png) no-repeat;
}

.linkLog::after{
    background: url(img/youtubeLogo.png) no-repeat;
}



/* socialContainer CSS */

.socialContainer{
    display: inline-block;
    margin-left: 140px;
}

.socialContainer a{
    padding-bottom: 10px;
    margin-left: 10px;
}

.socialContainer a:hover{
    opacity: 0.7;
    transition: all 0.7s;
}

.instagram{
    background-image: url(img/instagramLogo.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.facebook{
    background-image: url(img/facebookLogo.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.twitter{
    background-image: url(img/twitterLogo.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.youtube{
    background-image: url(img/youtubeLogo.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

/* subMenu Container */

.subMenuContainer{
    background-color: white;
}

.submenuContainer a{
    color: black;
}

.pizzaImage{
    background-image: url(img/pizza.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

/* FORM CSS */

.formContainer{
    position: absolute;
    top: 38%;  
    left: 52%;
    background-color: white;
    padding: 25px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}


.formContainer input{
    margin: 8px;
    padding: 20px;
    font-size: 25px;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.address{
    width: 495px;
}

/* Button CSS */

.search{
    margin-left: 10px;
    padding: 20px;
    font-size: 30px;
    width: 536px;
    border: none;
    color: white;
    background-color: black;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.search:hover{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    transition: all 0.7s;
}

/* Form Accedi CSS */

.accedi{
    background-color: white;
}

/* HamburgerIcon CSS */

.burgerMenuContainer{
    display: flex;
    flex-direction: column;
}

.one, .two, .three{
    height: 5px;
    width: 45px;
    background-color: white;
    margin: 5px 0;
}


.headerText{
    font-size: 55px;
    text-align: center;
    margin-top: 195px;
    color: white;
}